.btn {
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    background-color: inherit;
    padding: 11px 0;
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all .5s;
}

.btn:hover {
    background-color: #f8f8f8;
    color: #434343;
}