.video__text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    max-width: 320px;
    margin: 0;
    position: relative;
}

.video__text::before {
    content: '';
    width: 41px;
    height: 41px;
    position: absolute;
    background-image: url(../../../images/video/video-item.svg);
    top: 6px;
    left: -55px;
}